In [1]:
import pymongo
from mLabsignin import username, password
import pandas as pd

#establish connection to db
conn = 'mongodb://%s:%s@ds149905.mlab.com:49905/heroku_236cmwk4' % (username, password)
client = pymongo.MongoClient(conn)

#url = "http://sn4hr.org/page/" + num + "/?s=school"

#define db
db = client.heroku_236cmwk4

#define collection
collection = db.school_attacks

In [2]:
cursor = collection.find()
results = list(cursor)

In [25]:
title_text = []
title_text_lower = []
body_text = []
body_text_lower = []
pub_date = []
article_link = []

for result in results:
    title_text.append(result["title_lowercase"])
    body_text.append(result["article_text_lower"])
    pub_date.append(result["date_published"])
    article_link.append(result["article_link"])

df = pd.DataFrame({
    "title": title_text,
    "body_text": body_text,
    "pub_date": pub_date,
    "article_link": article_link
})

In [26]:
df.head()

,article_link,body_text,pub_date,title
0,http://sn4hr.org/blog/2017/10/31/syrian-regime...,\nsnhr: syrian regime artillery fired shells i...,"October 31, 2017",syrian regime forces shelled mohammad naser as...
1,http://sn4hr.org/blog/2017/10/25/syrian-regime...,\nsnhr: syrian regime warplanes fired several ...,"October 25, 2017",syrian regime forces shelled school in al bouk...
2,http://sn4hr.org/blog/2017/10/18/syrian-regime...,\nsnhr: syrian regime warplanes fired missiles...,"October 18, 2017",syrian regime forces shelled hamoud al dabet s...
3,http://sn4hr.org/blog/2017/10/15/suspected-rus...,\nsnhr: suspected russian warplanes fired miss...,"October 15, 2017",suspected russian forces shelled tahtaya prima...
4,http://sn4hr.org/blog/2017/10/07/syrian-regime...,\nsnhr: syrian regime warplanes fired missiles...,"October 7, 2017",syrian regime forces shelled al hamzat school ...

In [27]:
len(df)

314

In [28]:
df_2 = pd.DataFrame(results)

In [30]:
df_2.head()

,_id,article_link,article_text,article_text_lower,article_title,date_published,title_lowercase,unique_key
0,5a00ed35a7ef13cc160754d1,http://sn4hr.org/blog/2017/10/31/syrian-regime...,\nSNHR: Syrian regime artillery fired shells i...,\nsnhr: syrian regime artillery fired shells i...,Syrian regime forces shelled Mohammad Naser As...,"October 31, 2017",syrian regime forces shelled mohammad naser as...,Syrian regime forces shelled Mohammad Naser As...
1,5a00ed36a7ef13cc160754d2,http://sn4hr.org/blog/2017/10/25/syrian-regime...,\nSNHR: Syrian regime warplanes fired several ...,\nsnhr: syrian regime warplanes fired several ...,Syrian regime forces shelled school in al Bouk...,"October 25, 2017",syrian regime forces shelled school in al bouk...,Syrian regime forces shelled school in al Bouk...
2,5a00ed37a7ef13cc160754d3,http://sn4hr.org/blog/2017/10/18/syrian-regime...,\nSNHR: Syrian regime warplanes fired missiles...,\nsnhr: syrian regime warplanes fired missiles...,Syrian regime forces shelled Hamoud al Dabet S...,"October 18, 2017",syrian regime forces shelled hamoud al dabet s...,Syrian regime forces shelled Hamoud al Dabet S...
3,5a00ed37a7ef13cc160754d4,http://sn4hr.org/blog/2017/10/15/suspected-rus...,\nSNHR: suspected Russian warplanes fired miss...,\nsnhr: suspected russian warplanes fired miss...,Suspected Russian forces shelled Tahtaya Prima...,"October 15, 2017",suspected russian forces shelled tahtaya prima...,Suspected Russian forces shelled Tahtaya Prima...
4,5a00ed3aa7ef13cc160754d6,http://sn4hr.org/blog/2017/10/07/syrian-regime...,\nSNHR: Syrian regime warplanes fired missiles...,\nsnhr: syrian regime warplanes fired missiles...,Syrian regime forces shelled al Hamzat school ...,"October 7, 2017",syrian regime forces shelled al hamzat school ...,Syrian regime forces shelled al Hamzat school ...